body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    margin: 0;
}

/* Textbox formatting*/
.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

/* Button formatting*/
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a5dcc;
}

a {
    color: #2c7be5;
    text-decoration: none;
}